@font-face {
    font-family: Pure Evil;
    src: url(../font/puree____2.ttf);
}

/* Metal Mania (only 400 weight)*/
/*@import url(http://fonts.googleapis.com/css?family=Metal+Mania);*/

/* Open Sans */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700);

/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fdfdfd;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Pure Evil, Open Sans, Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
}

a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
a:visited { color: #205caa; }

/* NAVBAR
   ================================================== */

.navbar-inverse {
    height: 90px;
    border: none;
    background-color: #535A6C;
}

.navbar-inverse .navbar-brand {
    padding: 0;
    margin: 0;
    margin-top: 8px;
    width: 74px;
    height: 74px;
}

.navbar-inverse .navbar-brand:hover {
    -webkit-filter: brightness(104%)
}

.navbar-inverse .navbar-nav > li > a {
    margin-top: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 35px 20px;
    color: #a1a9bb;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-transition: background .2s ease-out;
    -moz-transition: background .2s ease-out;
    -o-transition: background .2s ease-out;
    transition: background .2s ease-out;
}

/* NAVBAR LINK ACTIVE COLORS
   ================================================== */

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #f1fdfa;
    background-color: #000;
}

/* NAVBAR TOGGLE
   ================================================== */

.navbar-inverse .navbar-toggle {
    margin-top: 23px;
    padding: 14px 16px;
    background-color: #000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-color: #000;
    -webkit-transition: .15s ease-in;
    -moz-transition: .15s ease-in;
    -o-transition: .15s ease-in;
    transition: .15s ease-in;
}

.navbar-inverse .navbar-toggle:hover {
    background-color: #25CAA8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.navbar-inverse .navbar-toggle:focus {
    background-color: #000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* NAVBAR-DROPDOWN SECTION
   ================================================== */

.dropdown-menu {
    background-color: #535A6C;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0;
}

.dropdown-menu li a {
    -webkit-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    transition: all .15s ease-in;
    color: #a1a9bb;
    font-size: 14px;
    padding: 10px 6px;
    padding-left: 16px;
    text-transform: uppercase;
    padding: 18px 14px;
    font-size: 18px;
    font-weight: 400;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #1ccba8
}

.dropdown .divider {
    background-color: #626a7f
}

.dropdown-menu li a:hover {
    background-color: #697289;
    color: #a1a9bb;
}

.dropdown-menu li a:active {
    background-color: #697289;
    color: #a1a9bb;
}

.navbar-inverse .navbar-nav .dropdown-toggle:focus {
    background-color: #535A6C;
    color: #a1a9bb;
}

.top{
	border-bottom:1px solid #000;
  display:block;
  position:relative;
}
/* background opacity hack */
.top::after {
  content: "";
  background:#555 url('../img/hellfire.jpg') no-repeat;
  background-size:cover;
  background-position:center center;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.top h1 {
  color: #000;
  text-shadow: 1px 1px 2px #ff9d00;
}

.top h1 small {
  padding-top: 10px;
  color: #333;
  text-shadow: 1px 1px 2px #945400;
  line-height: 1.5;
}

.top .marquis h1 small {
  display: block;
}

.hero{
  padding: 20px;
}

.content.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.video {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer-inverse {
  padding: 20px;
  border: none;
  background-color: #101010;
  color: #a1a9bb;

  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image:      -o-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222));
  background-image:         linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
}

.footer-inverse h2 {
  text-shadow: 3px 3px 2px #000;
}
