---
layout: default
---

<div class="row">

  <div class="col-md-6">

    <h2>Pages</h2>

    <ul>
      {% for page in site.pages %}
        <li>
          <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </li>
      {% endfor %}
    </ul>

  </div>

  <div class="col-md-6">

    <h2>Posts</h2>

    <ul>
      {% for post in site.posts %}
        <li>
          {{ post.date | date: "%b %-d, %Y" }}
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>

  </div>

</div>

<div class="row">

  <div class="col-md-12">

    <p>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

  </div>

</div>
