---
layout: default
---

<div class="top">

    {% include header.html %}

    <div class="hero">

      <div class="container">

        <div class="row">

          <!-- left column -->
          <div class="col-md-6">

            <h1>
              Death Metal Podcast for Kids
            </h1>
            <p class="subheading text-right">
              Not Really for Kids... Unless They're Hardcore!
            </p>

          </div>

          <!-- right column -->
          <div class="col-md-6">

            <div id="features" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#features" data-slide-to="0" class="active"></li>
                <li data-target="#features" data-slide-to="1"></li>
                <li data-target="#features" data-slide-to="2"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img alt="First slide"
                    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzc3NyIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjQ1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojNTU1O2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjU2cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+Rmlyc3Qgc2xpZGU8L3RleHQ+PC9zdmc+">
                  <div class="carousel-caption">
                    Feature 1 Caption
                  </div>
                </div>
                <div class="item">
                  <img alt="First slide"
                    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzc3NyIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjQ1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojNTU1O2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjU2cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+Rmlyc3Qgc2xpZGU8L3RleHQ+PC9zdmc+">
                  <div class="carousel-caption">
                    Feature 2 Caption
                  </div>
                </div>
                <div class="item">
                  <img alt="First slide"
                    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzc3NyIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjQ1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojNTU1O2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjU2cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+Rmlyc3Qgc2xpZGU8L3RleHQ+PC9zdmc+">
                  <div class="carousel-caption">
                    Feature 3 Caption
                  </div>
                </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#features"
                role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#features"
                role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>


          </div>

        </div>

      </div>

    </div>

</div>

<div class="row">

  <div class="col-md-6">

    <h2>Pages</h2>

    <ul>
      {% for page in site.pages %}
        <li>
          <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </li>
      {% endfor %}
    </ul>

  </div>

  <div class="col-md-6">

    <h2>Posts</h2>

    <ul>
      {% for post in site.posts %}
        <li>
          {{ post.date | date: "%b %-d, %Y" }}
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>

  </div>

</div>

<div class="row">

  <div class="col-md-12">

    <p>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

  </div>

</div>

<div class="col-features col-sm-4 wow fadeInLeft animated" style="visibility: visible;">
          <img src="images/features/responsive.png" alt="features-1">
          <a href="http://www.ticketweb.com/snl/Search.action?query=death_metal_podcast" target="_blank">Buy Tickets</a>
          <h1 class="title-features">TICKETS</h1>
          <p class="p-features">Friday, August 15, 2014 - 10:30pm
Saturday, August 16, 2014 - 4:30pm
Tuesday, August 19, 2014 - 7:30pm
Wednesday, August 20, 2014 - 9:00pm
Saturday, August 23, 2014 - 3:00pm
Sunday, August 24, 2014 - 1:30pm
  </div>
        <div class="col-features col-sm-4 wow fadeInUp animated" style="visibility: visible;">
          <img src="/img/Phoenix.png" alt="features-2">
          <h1 class="title-features">Phoenix Theatre</h1>
          <p class="p-features">Pixel perfect design elements, nisi erat porttitor ligula, eget lacinia odio sem nec elit porttitor. </p>
        </div>
        <div class="col-features col-sm-4 wow fadeInRight animated" style="visibility: visible;">
          <img src="/img/IndyFringe.jpg" alt="features-3">

          <p class="p-features">Fast performance on any device, cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        </div>
