<div class="row">

  <!-- left column -->
  <div class="col-md-6 marquis">
    <div class="row">
      <div class="col-md-12">
        <h1>
          Death Metal Podcast for Kids
          <small>
            Not Really for Kids... Unless They're Hardcore!
          </small>
        </h1>
      </div>
    </div>
    <div class="row well well-lg">
      <div class="col-md-8">
        <ul>
          <li>Friday, August 15, 2014 - 10:30pm</li>
          <li>Saturday, August 16, 2014 - 4:30pm</li>
          <li>Tuesday, August 19, 2014 - 7:30pm</li>
          <li>Wednesday, August 20, 2014 - 9:00pm</li>
          <li>Saturday, August 23, 2014 - 3:00pm</li>
          <li>Sunday, August 24, 2014 - 1:30pm</li>
        </ul>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-primary"
          href="http://www.ticketweb.com/snl/Search.action?query=death_metal_podcast">
          Buy Tickets
        </a>
      </div>
    </div>
  </div>

  <!-- right column -->
  <div class="col-md-6">

    <div id="features" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#features" data-slide-to="0" class="active"></li>
        <li data-target="#features" data-slide-to="1"></li>
        <li data-target="#features" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        {% for post in site.posts limit:3 %}
          {% if forloop.first %}
            {% assign class = 'active' %}
          {% else %}
            {% assign class = '' %}
          {% endif %}
          <div class="item {{ class }}">
            <img class="img-responsive"
              alt="{{post.image.caption}}"
              src="{{post.image.path}}">
            <div class="carousel-caption">
              <h3>{{ post.title }}</h3>
              <p>{{ post.excerpt }}</p>
            </div>
          </div>
        {% endfor %}
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#features"
        role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#features"
        role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>


  </div>

</div>
